@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Raleway:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #010105;
    --text-primary: #eeeeee;
    --text-primary-inverted: #111111;
    --text-secondary: #bebebe;
    --accent: #5863F8;
    --nav-separator: #161618;
}

html, body {
    height: 100%;
}

body {
    background: var(--background);
    overflow: hidden;
}

main {
    font-family: 'PT Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

p, a, h1, li {
    color: var(--text-primary);
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
}

.circle {
    clip-path: circle();
}

.buttons {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    gap: 20px;
}

.buttons a { 
    background-color: var(--text-primary);
    padding: 15px 30px 15px 30px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    color: var(--text-primary-inverted);
    border-radius: 10px;
    align-items: center;
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.buttons a span {
    background-color: var(--text-primary-inverted);
}

.icon {
    width: 24px;
    height: 24px;
    background-color: var(--text-primary);
    display: inline-block;
    mask-size: 24px;
    -webkit-mask-size: 24px;
}

.discord {
    mask: url(../assets/discord.svg) no-repeat-center;
    -webkit-mask: url(../assets/discord.svg) no-repeat center;
}

.github {
    mask: url(../assets/github.svg) no-repeat center;
    -webkit-mask: url(../assets/github.svg) no-repeat center;
}

.location {
    mask: url(../assets/location.svg) no-repeat center;
    -webkit-mask: url(../assets/location.svg) no-repeat center;
}

.home {
    mask: url(../assets/nav/home.svg) no-repeat center;
    -webkit-mask: url(../assets/nav/home.svg) no-repeat center;
}

.microscope {
    mask: url(../assets/nav/microscope.svg) no-repeat center;
    -webkit-mask: url(../assets/nav/microscope.svg) no-repeat center;
}

.southdust {
    mask: url(../assets/nav/southdust.svg) no-repeat center;
    -webkit-mask: url(../assets/nav/southdust.svg) no-repeat center;
}

.hexalite {
    mask: url(../assets/nav/hexalite.svg) no-repeat center;
    -webkit-mask: url(../assets/nav/hexalite.svg) no-repeat center;
}

.burger {
    mask: url(../assets/nav/burger.svg) no-repeat center;
    -webkit-mask: url(../assets/nav/burger.svg) no-repeat center;
}

nav ol li:hover, .buttons a:hover {
    filter: brightness(120%) saturate(120%);
    transition: 0.5s;
    cursor: pointer;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
    .buttons {
        animation: slide-up ease 1.5s; 
    }
    @keyframes slide-up {
        0% {
            transform: translateY(300%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

nav {
    display: block;
    float: left;
    left: 0;
    top: 0;
    padding: 30px 30px 30px 30px;
    border-right: solid 1px var(--nav-separator);
    height: 100%;
}

nav ol {    
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 25px;
}

nav ol li {
    position: relative;
}

nav ol li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    gap: 5px;
}


nav .menu {
    display: none;
}

nav ol li.selected:after {
    content: '';
    position: absolute;
    width: 1px;
    top: 0;
    right: -30px;
    bottom: 0;
    background-color: var(--text-primary);
}

@media only screen and (max-device-width: 640px) {
    nav {
        display: none;
    }
}

