@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #010106;
        --text-color: #fff;
        --dotted-color: #808080;
        --accent-color: #dab6ff;
        --accent-darker: #b366ff;
    }
    span.theme-toggle::before {
        content: "☾";
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #eee;
        --text-color: #222;
        --dotted-color: #595959;
        --accent-color: #0946ff;
        --accent-darker: #002699;
    }
    span.theme-toggle::before {
        content: "☼";
    }
}

body {
    font-family: monospace, serif, sans-serif;
    font-size: 16px;
    max-width: 80ch;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 1em auto;
    padding: 0 2em;
    line-height: 1.7;
    text-align: left;
}

a,
a:visited {
    color: var(--accent-color);
}

.uppercase {
    text-transform: uppercase;
}

table {
    font-size: smaller;
    width: 100%;
}

table.header {
    border-bottom: 1px dotted var(--dotted-color);
}

table.footer {
    border-top: 1px dotted var(--dotted-color);
    margin-top: 1.2em;
}

table tr {
    display: flex;
    justify-content: space-between;
}

p {
    text-align: justify;
}

h1 {
    font-size: 125%;
}

h1 a {
    border-bottom: thin dotted var(--dotted-color);
    text-decoration: none;
}

ul.addresses {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul.addresses li strong {
    display: inline-block;
}

ul.addresses li strong:after {
    float: right;
    content: ". ";
}

ul.addresses li::marker {
    content: "☆ ";
    color: var(--accent-darker);
}

.section-wrapper {
    padding-left: 2.4em;
    max-width: calc(100% - 5.4em);
}

.gray {
    color: var(--dotted-color);
}

i {
    font-size: smaller;
    color: var(--dotted-color);
}
