:root {
    --background-color: #010106;
    --text-color: #fff;
    --dotted-color: #808080;
    --accent-color: #dab6ff;
    --accent-darker: #b366ff;
    --symbol: "☾";
    --color-transition-duration: 0.5s;
}

[data-theme="light"] {
    --background-color: #eee;
    --text-color: #222;
    --dotted-color: #595959;
    --accent-color: #0946ff;
    --accent-darker: #002699;
    --symbol: "☼";
}

span#theme-selector::before {
    content: var(--symbol);
}

span#theme-selector:hover {
    cursor: pointer;
}

body {
    font-family: monospace, serif, sans-serif;
    font-size: 16px;
    max-width: 80ch;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 1em auto;
    padding: 0 2em;
    line-height: 1.7;
    text-align: left;
}

a,
a:visited {
    color: var(--accent-color);
}

.uppercase {
    text-transform: uppercase;
}

table {
    font-size: smaller;
    width: 100%;
}

table.header {
    border-bottom: 1px dotted var(--dotted-color);
}

table.footer {
    border-top: 1px dotted var(--dotted-color);
    margin-top: 1.2em;
}

table tr {
    display: flex;
    justify-content: space-between;
}

p {
    text-align: justify;
}

h1 {
    font-size: 125%;
}

h1 a {
    border-bottom: thin dotted var(--dotted-color);
    text-decoration: none;
}

ul.addresses {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul.addresses li strong {
    display: inline-block;
}

ul.addresses li strong:after {
    content: ". ";
}

li {
    list-style-type: none;
}

ul.addresses li::before {
    color: var(--accent-darker);
}

li::before {
    position: relative;
    content: "* ";
    color: var(--accent-color);
    display: inline-block;
}

.section-wrapper {
    padding-left: 2.4em;
    max-width: calc(100% - 5.4em);
}

.section-wrapper ul:only-child {
    padding-left: 0;
}

.gray {
    color: var(--dotted-color);
}

i {
    font-size: smaller;
    color: var(--dotted-color);
}

body:not(.preload) {
    transition: background-color var(--color-transition-duration) ease-out,
        color var(--color-transition-duration) ease-out !important;
}

body:not(.preload) a,
body:not(.preload) a:visited,
body:not(.preload) li::before {
    transition: color var(--color-transition-duration) ease-out;
}
