:root {
    --nav-header-size: 2rem;
    --margin: 32px;
}

body {
    padding: 0;
    margin: var(--margin);
    display: flex;
    flex-direction: row;
}

h1.navbar-brand {
    font-family: var(--font-nav);
    font-weight: var(--font-navbar-weight);
    font-size: var(--nav-header-size);
    white-space: nowrap;
}

h1.navbar-brand:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

@keyframes slide-from-left {
    0% {
        transform: translateX(-125%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-from-bottom-opacity {
    0% {
        transform: translateY(125%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes opacity-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    animation: slide-from-left 0.5s ease-in-out;
}

nav ol li {
    list-style: none;
}

nav,
nav ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float: left;
}

nav {
    gap: 16px;
}

nav ol {
    gap: 16px;
    border-right: 1px solid var(--separator-color);
    width: calc(1em + var(--margin));
    height: calc(calc(100vh - 2 * var(--margin)) - 2 * var(--nav-header-size));
    padding: 0;
    margin: 0;
}

nav ol li:first-child {
    margin-top: 16px;
}

nav ol li a svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--text-color);
}

nav ol li.selected a svg {
    stroke: var(--accent-color);
}

nav ol li.selected:after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 2em;
    background-color: var(--separator-secondary-color);
    animation: opacity-fade 2s ease-in-out;
    left: 5em;
    margin-top: -32px;
}

div.content-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: calc(var(--margin) * -2);
    margin-top: calc(var(--nav-header-size) + 32px);
    animation: slide-from-bottom-opacity 1s ease-in-out;
    gap: 32px;
}

.with-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

h1.navbar-brand svg.light {
    display: none;
}
[data-theme="light"] h1.navbar-brand svg.dark {
    display: none;
}
[data-theme="light"] h1.navbar-brand svg.light {
    display: inline-block;
}
h1.navbar-brand svg:hover {
    cursor: pointer;
}

nav ol li:not(.selected) {
    transition: transform 0.2s ease-in-out;
}

nav ol li:not(.selected):hover {
    cursor: pointer;
    transform: scale(1.5);
}

nav ol li .tooltip {
    display: none;
}

nav ol li:hover .tooltip {
    display: block;
    position: absolute;
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 3em;
    z-index: 1;
}

nav ol li:not(.selected):hover .tooltip {
    transform: scale(0.666);
}

nav ol li:hover .tooltip::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--text-color) transparent transparent;
    z-index: 1;
}

@media only screen and (max-width: 700px) {
    nav ol {
        flex-direction: row;
        width: fit-content;
        border-right: none;
        height: fit-content;
        gap: 32px;
    }
    nav {
        align-items: center;
        gap: 5px;
        margin-bottom: 16px;
    }
    nav,
    nav ol {
        float: center;
    }
    nav ol li.selected:after {
        display: none;
    }
    nav ol li:first-child {
        margin-top: 0;
    }
    body {
        flex-direction: column;
    }
    div.content-wrapper {
        margin-left: 0;
        margin-top: 0;
    }
}
