span.accent {
    color: var(--accent-color);
}

div.content-wrapper {
    margin: 0 !important;
    align-items: center;
    justify-content: center;
    gap: 64px !important;
    flex: 0.9;
}

h1 {
    text-align: center;
}

ul#amazing-people {
    display: flex;
    flex-direction: row;
    gap: 128px;
    margin: 0;
    padding: 0;
}

ul#amazing-people li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    gap: 8px;
}

ul#amazing-people li img {
    border-radius: 50%;
    width: 128px;
    height: 128px;
}

@media only screen and (max-width: 700px) {
    ul#amazing-people {
        flex-direction: column;
    }
}
