---
import BlogEntry from "@components/Blog/BlogEntry.astro";
import DefaultLayout from "@layouts/DefaultLayout.astro";
import type Post from "@entities/Post";
import "@styles/center.css";

async function getBlogPosts(): Promise<Post[]> {
  const content = await Astro.glob<Post>("../../content/blog/*.md");
  const sorted = content.sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
  if (sorted.length === 1 && process.env.NODE_ENV === "development") {
    return Array(16).fill(sorted[0].frontmatter);
  }
  return sorted.map((post) => post.frontmatter);
}

const posts: Post[] = await getBlogPosts();
---

<style>
  :root {
    --lighter-color: rgba(255, 255, 255, 0.01);
  }
  :global([data-theme="light"]) {
    --lighter-color: rgba(0, 0, 0, 0.02);
  }
  ol.content-list :global(li:hover) {
    padding: unset;
  }
</style>

<DefaultLayout
  current="blog"
  description="All posts describing my journey as a software engineer and my point of view about this world."
>
  <h1>Blog Posts<span class="text-accent">:</span></h1>
  <ol class="content-list grid-wrap">
    {posts.map((post) => <BlogEntry data={post} />)}
  </ol>
</DefaultLayout>
