:root {
  --grid-gap: 64px;
}

.content-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(var(--margin) * 4);
}

.content-list li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  width: 200px;
  gap: 8px;
}

.content-list.grid-wrap {
  justify-content: center;
  column-gap: normal;
  row-gap: calc(var(--margin) * 2);
}

.content-list.grid-wrap li {
  flex-basis: calc(100% / 3);
}

main {
  gap: calc(var(--margin) * 2);
  align-items: center;
  width: 100%;
}

nav, .navigation-top {
  z-index: 1;
}

h1 {
  text-align: center;
}
