:root {
    --margin: 32px;
    --nav-header-size: 1.75rem;
}

@keyframes slide-from-left {
    0% {
        opacity: 0;
        transform: translateX(-125%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-from-bottom-opacity {
    0% {
        transform: translateY(125%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes opacity-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    padding: 0;
    margin: var(--margin);
    display: flex;
    flex-direction: row;
    gap: calc(var(--margin) * 1.25);
}

main, .app-wrapper {
    display: flex;
    flex-direction: column;
    animation: slide-from-bottom-opacity 1s ease-in-out;
    gap: var(--margin);
}

.hover-shadow {
    transition: transform 0.2s ease-in-out;
}

.hover-shadow:hover {
    transform: scale(1.05);
    box-shadow: 0 0 11px var(--box-shadow-color);
    border-radius: 10px;
}

@media only screen and (max-width: 700px) {
    .navigation-top {
        align-items: center;
        justify-content: center;
    }
    body {
        gap: 16px;
        flex-direction: column;
    }
}