---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import { Image } from "@astrojs/image/components";
import "@styles/center.css";
import FaceIdErrorIcon from "@components/Icons/FaceIdErrorIcon.svelte";
---

<style>
  #error-wrapper svg {
    width: 5rem;
    height: 5rem;
  }
  #error-wrapper h1 {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 2.4rem;
  }
  #error-wrapper p {
    font-size: 1rem;
    text-align: center;
    max-width: 60%;
  }
  .app-wrapper,
  #error-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
  }
</style>

<DefaultLayout description="Oops! This page doesn't seem to exist!" current="">
  <section id="error-wrapper">
    <FaceIdErrorIcon />
    <h1>404</h1>
    <p>
      Oops! This page doesn't seem to exist. You can return to the <a href="/"
        >homepage</a
      > or <a href="/contact">contact me</a> if you think this is a mistake.
    </p>
  </section>
</DefaultLayout>
