---
import SectionLink from "@components/SectionLink.astro";
import Repository, { RepositoryData } from "@components/Repository.astro";
import DefaultLayout from "@layouts/DefaultLayout.astro";

const me = { holder: "IORuntime", domain: "code.runtime.ee" };

const work: RepositoryData[] = [
  {
    name: "voxu",
    description:
      "A strongly and statically typed, memory-efficient functional programming language.",
    ...me,
  },
  {
    name: "sw",
    description: "Automatic window hiding daemon/supervisor for X11.",
    ...me,
  },
  {
    holder: "playhexalite",
    name: "java-edition",
    domain: "git.hexalite.org",
    description:
      "An open-source, modern, and modular network of Minecraft: Java Edition servers.",
  },
  {
    holder: "hearkus",
    name: "hearkus",
    domain: "github.com/hearkus",
    description:
      "An innovative platform for music lovers to explore and share their passions.",
  },
];
---

<style>
  #my-work {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  #my-work ol {
    display: grid;
    padding: 0;
    grid-template: "a a" "b b";
    text-align: left;
    gap: 32px;
  }
  .header-rt {
    font-family: var(--font-nav);
    font-weight: var(--font-navbar-weight);
    color: var(--text-color);
    overflow: hidden;
    white-space: nowrap;
    gap: 8px;
  }
  .header-rt:after {
    content: "!";
    display: inline-block;
    color: var(--accent-color);
  }
  @media only screen and (max-width: 700px) {
    #my-work ol {
      grid-template: "a" "b";
    }
  }
</style>

<DefaultLayout
  current="home"
  description="Nice to meet you! I'm Pedro, a software engineer and theoretical computer science enthuasist willing to learn even more about the field."
>
  <p class="text-secondary width-limited">
    Greetings! I am Pedro, but you can also call me <span class="header-rt"
      >runtime</span
    > I am a dedicated and driven software engineer and theoretical computer science
    enthusiast on the autism spectrum based in Brazil. My passion for technology
    is evident in my interests, which include compilers, kernels, and lexical analyzers.
    However, I also have a broad range of interests that extend beyond the realm
    of computer science, including functional programming, philosophy, linguistics,
    and physics. I am eager to share my experiences, insights, and perspectives,
    and I look forward to the impact I can make in the world of technology and beyond.
  </p>
  <section id="my-work">
    <h2 class="dotted">
      My Work
      <SectionLink href="#my-work" />
    </h2>
    <ol>
      {work.map((item) => <Repository data={item} />)}
    </ol>
  </section>
</DefaultLayout>
