---
import GitHubRepository from "../components/GitHubRepository.astro";
import IdLink from "../components/IdLink.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";

const me = "IORuntime";

const work = [
  {
    holder: me,
    name: "voxu",
  },
  {
    holder: me,
    name: "sw",
  },
  {
    holder: "playhexalite",
    name: "java-edition",
  },
  {
    holder: "hearkus",
    name: "hearkus",
  },
];
---

<style>
  #my-work ol {
    display: grid;
    margin-top: 32px;
    padding: 0;
    grid-template: "a a" "b b";
    gap: 32px;
  }
  .with-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
  }
  @media only screen and (max-width: 700px) {
    #my-work ol {
      grid-template: "a" "b";
    }
  }
</style>

<DefaultLayout
  current="home"
  description="Nice to meet you! I'm Pedro, a software engineer and theoretical computer science enthuasist willing to learn even more about the field."
>
  <p class="text-secondary width-limited">
    Hi there! My name is Pedro and I am a 15-year-old autistic software engineer
    and theoretical computer science enthusiast based in Brazil. I am passionate
    about compilers, kernels, and lexical analyzers, but my interests don't stop
    there. I also love to delve into other subjects such as functional
    programming, philosophy, linguistics, and physics. Despite being on the
    autism spectrum, I am determined to make a significant impact in my field
    and inspire others to do the same.
  </p>
  <section id="my-work">
    <h2 class="dotted with-icon">
      My Work
      <IdLink href="#my-work" />
    </h2>
    <ol>
      {
        work.map((item) => (
          <GitHubRepository holder={item.holder} repository={item.name} />
        ))
      }
    </ol>
  </section>
</DefaultLayout>
