---
import { Image } from "@astrojs/image/components";
import CenteredLayout from "@layouts/CenteredLayout.astro";
---

<style>
  :global(ol.content-list) li img {
    border-radius: 50%;
  }
  :global(ol.content-list).grid-wrap {
    gap: calc(var(--margin) * 4);
  }
  :global(ol.content-list) li {
    padding: 10px;
    border-radius: 25px !important;
  }
</style>

<CenteredLayout
  current="thanks"
  description="Amazing people I'd like to thank!"
  title="Thank you so much"
  after="!"
  grid={true}
>
  <li class="hover-shadow ui-sound-listener ux-click-effect">
    <Image
      alt="[PFP]"
      src="https://avatars.githubusercontent.com/u/54632522?s=128"
      width={128}
      height={128}
    />
    <p>- domain <span class="text-accent">&lt;3</span></p>
    <p>- homepage work section inspiration</p>
    <p>- really cute</p>
    <a href="https://dzshn.xyz">
      <a href="https://dzshn.xyz">dzshn.xyz</a>
    </a>
  </li>
  <li class="hover-shadow ui-sound-listener ux-click-effect">
    <Image
      alt="[PFP]"
      src="https://avatars.githubusercontent.com/u/45497981?s=128"
      width={128}
      height={128}
    />
    <p>- introducing me to astro</p>
    <p>- really cute</p>
    <a href="https://vendicated.dev">
      <a href="https://vendicated.dev">vendicated.dev</a>
    </a>
  </li>
</CenteredLayout>
