---
import LinkIcon from "./Icons/LinkIcon.svelte";

export interface Props {
  href: string;
}

const { href }: Props = Astro.props;
---

<style>
  .section-link svg {
    color: var(--text-secondary-color);
  }
  .section-link {
    transition: transform 0.2s ease-in-out;
    display: inline-block;
  }
  .section-link:hover {
    transform: scale(1.25);
  }
</style>

<a class="section-link ui-sound-listener ux-click-effect" href={href}>
  <LinkIcon />
</a>
