---
import DarkThemeIcon from "./DarkThemeIcon.astro";
import LightThemeIcon from "./LightThemeIcon.astro";
---

<style>
  #theme-switcher-wrapper {
    display: inline-block;
  }
</style>

<div id="theme-switcher-wrapper">
  <DarkThemeIcon />
  <LightThemeIcon />
</div>
