---
import ThemeSwitcher from "./ThemeSwitcher/_index.astro";
---

<style>
  div.navigation-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
  }
  h1.navigation-title {
    font-family: var(--font-nav);
    font-weight: var(--font-navbar-weight);
    font-size: var(--nav-header-size);
    overflow: hidden;
    white-space: nowrap;
    gap: 8px;
  }
  h1.navigation-title:after {
    content: "";
    display: inline-block;
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 2px;
    background-color: var(--accent-color);
    margin-left: 5px;
  }
</style>

<div class="navigation-top">
  <ThemeSwitcher />
  <h1 class="navigation-title">runtime</h1>
</div>
