<style>
  :root {
    --icon-size: 24px;
  }
  div.theme-light.theme-switcher {
    filter: invert(1);
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: var(--icon-size);
    border: 3px solid var(--background-color);
    background: #f9f9f9;
  }
  :global(html[data-theme="light"]) div.theme-light.theme-switcher {
    border-color: var(--theme-outline-color);
  }
</style>

<script>
  document.querySelectorAll(".theme-light.theme-switcher").forEach((switcher) =>
    switcher.addEventListener("click", () => {
      localStorage.setItem("theme", "light");
      document.documentElement.setAttribute("data-theme", "light");
    })
  );
</script>

<div class="theme-light theme-switcher ui-sound-listener ux-click-effect"></div>
