---
import DarkThemeIcon from "./DarkThemeIcon.astro";
import LightThemeIcon from "./LightThemeIcon.astro";
---

<style>
  :root {
    --icon-size: 24px;
  }
  #theme-switcher-wrapper {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
  }
</style>

<div id="theme-switcher-wrapper">
  <DarkThemeIcon />
  <LightThemeIcon />
</div>
