---
import Cursor from "../components/Cursor.astro";
import NavigationBar from "../components/NavigationBar/_index.astro";
import ThemedLayout from "./ThemedLayout.astro";
import Title from "../components/Title.astro";
import "../global/Theme.astro";
import "../styles/fonts.css";
import "../styles/page-layout.css";
import NavigationSounds from "../components/Sound/NavigationSounds.astro";

export interface Props {
  description: string;
  current: string;
}

const { description, current }: Props = Astro.props;
---

<ThemedLayout description={description}>
  <Title />
  <div class="horizontal-wrapper">
    <NavigationBar selected={current} />
    <main>
      <slot />
    </main>
  </div>
  <Cursor overlayIndex={2} size="20px" count={50} />
  <NavigationSounds query="li.repository-metadata, li.navigation-entry" />
</ThemedLayout>
