---
import Cursor from "../components/UX/Cursor.astro";
import NavigationBar from "../components/NavigationBar/_index.astro";
import ThemedLayout from "./ThemedLayout.astro";
import "../global/Theme.astro";
import "../styles/fonts.css";
import "../styles/page-layout.css";
import UXEffects from "../components/UX/UXEffects.astro";
import SearchBar from "../components/Search/SearchBar.astro";
import TopLeftBlob from "../components/UX/TopLeftBlob.astro";

export interface Props {
  description: string;
  current: string;
}

const { description, current }: Props = Astro.props;
---

<ThemedLayout description={description}>
  <TopLeftBlob />
  <NavigationBar selected={current} />
  <main>
    <SearchBar />
    <div class="app-wrapper">
      <slot />
    </div>
  </main>
  <Cursor overlayIndex={2} size="20px" count={50} />
  <UXEffects
    query="li.navigation-entry, .ui-sound-listener, .ux-click-effect, a.id-link"
  />
</ThemedLayout>
