---
import Preload from "@components/UX/Preload.astro";

export interface Props {
  description: string;
}

const { description }: Props = Astro.props;
---

<html lang="en">
  <head>
    <title>✨ IORuntime</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="author" content="Pedro H." />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="/meme/blink.gif" />
  </head>
  <Preload>
    <slot />
  </Preload>

</html>
